<template name="programNew">

<div class="container">

	<header class="top-container">
		<h4>
			<i class="mdi-content-add"></i> Novo Programa
		</h4>

		<a href="{{pathFor 'programs' }}" class="waves-effect waves-light btn btn-model">
			<i class="mdi-hardware-keyboard-backspace left"></i>
			Voltar
		</a>

	</header>

	<div class="content-container row">

		<div class="programs">
		
			<div class="row">

			  <form id="program" class="col s12">

			    <div class="col s12">
			    	 <label>Categoria</label>
					  <select>
					    <option value="" disabled selected>Escolha a categoria</option>
					    <option value="1">Domingo Aventura</option>
					  </select>
			    </div>

			      <div class="input-field col s12">
			      	<i class="mdi-action-account-circle prefix"></i>
			        <input id="program_name" type="text" class="validate">
			        <label for="program_name">Nome</label>
			      </div>

			      <div class="input-field col s12">
			        <i class="mdi-editor-mode-edit prefix"></i>
			        <textarea id="program_description" class="materialize-textarea validate"></textarea>
			        <label for="program_description">Descrição</label>
			      </div>

			      <div class="col s12">
				      <div class="file-field input-field">
					      <input class="file-path validate" type="text"/>
					      <div class="btn color-pattern">
					        <span>IMG</span>
					        <input type="file" />
					      </div>
					    </div>
			      </div>

			      <div class="btn-new col s12">
			      	<a href="#" class="waves-effect waves-light btn green" program="program">
						Criar
					</a>
			      </div>

			  </form>

			</div>

		</div>	

	</div>


</div>

</template>
