<template name="programs">

<div class="container">

	<header class="top-container">
		<h4>
			Programas
		</h4>

		<a class="waves-effect waves-light btn btn-add">
			<i class="mdi-content-add left"></i>
			NOVO
		</a>

	</header>

	<div class="content-container row">

		<div class="programas">

			<div class="col s12 no-padding">

				<div class="col s4">
				
					<div class="programa card">
			            <div class="card-image">
			              <img src="http://placehold.it/300x140">

			              <a href="#!" class="secondary-content actions-icons">
						  	<i class="mdi-image-edit"></i>
						  	<i class="mdi-navigation-close"></i>
						  </a>

			            </div>
			            <div class="card-content">
			              <strong class="card-title">
			              	Nome do Programa
			              </strong>
			              <p>I am a very simple card. I am good at containing small bits</p>
			            </div>
		            </div>

	            </div>

	            <div class="col s4">
				
					<div class="programa card">
			            <div class="card-image">
			              <img src="http://placehold.it/300x140">

			              <a href="#!" class="secondary-content actions-icons">
						  	<i class="mdi-image-edit"></i>
						  	<i class="mdi-navigation-close"></i>
						  </a>

			            </div>
			            <div class="card-content">
			              <strong class="card-title">
			              	Nome do Programa
			              </strong>
			              <p>I am a very simple card. I am good at containing small bits</p>
			            </div>
		            </div>

	            </div>

	            <div class="col s4">
				
					<div class="programa card">
			            <div class="card-image">
			              <img src="http://placehold.it/300x140">

			              <a href="#!" class="secondary-content actions-icons">
						  	<i class="mdi-image-edit"></i>
						  	<i class="mdi-navigation-close"></i>
						  </a>

			            </div>
			            <div class="card-content">
			              <strong class="card-title">
			              	Nome do Programa
			              </strong>
			              <p>I am a very simple card. I am good at containing small bits</p>
			            </div>
		            </div>

	            </div>

	            <div class="col s4">
				
					<div class="programa card">
			            <div class="card-image">
			              <img src="http://placehold.it/300x140">

			              <a href="#!" class="secondary-content actions-icons">
						  	<i class="mdi-image-edit"></i>
						  	<i class="mdi-navigation-close"></i>
						  </a>

			            </div>
			            <div class="card-content">
			              <strong class="card-title">
			              	Nome do Programa
			              </strong>
			              <p>I am a very simple card. I am good at containing small bits</p>
			            </div>
		            </div>

	            </div>

	            <div class="col s4">
				
					<div class="programa card">
			            <div class="card-image">
			              <img src="http://placehold.it/300x140">

			              <a href="#!" class="secondary-content actions-icons">
						  	<i class="mdi-image-edit"></i>
						  	<i class="mdi-navigation-close"></i>
						  </a>

			            </div>
			            <div class="card-content">
			              <strong class="card-title">
			              	Nome do Programa
			              </strong>
			              <p>I am a very simple card. I am good at containing small bits</p>
			            </div>
		            </div>

	            </div>
	          
			</div>

		</div>


		<!--<div class="timeline">

			<div class="col s12">

				<div class="collection">

					<div class="collection-item avatar">

					  <div class="item-inner">

						  <img src="http://placehold.it/80x80/" alt="" class="circle">
						  <strong class="title">Usuário</strong>
						  <p class="date">Enviado há 20 minutos</p>
						  <a href="#!" class="secondary-content actions-icons">
						  	<i class="mdi-action-grade"></i>
						  	<i class="mdi-navigation-check"></i>
						  	<i class="mdi-navigation-close"></i>
						  </a>

					  </div>

					  <div class="collection-message card">
				        <div class="card-image waves-effect waves-block waves-light">
				          <img class="activator" src="http://placehold.it/300x140">
				        </div>
				        <div class="card-content">
				          <span class="card-title activator grey-text">
					          Usuário
					          <i class="mdi-action-info right"></i>
				          </span>
				        </div>
				        <div class="card-reveal">
				          <span class="card-title grey-text">

				          Usuário

				          	<i class="mdi-navigation-close right"></i>

				          </span>

				          <p class="card-message">Here is some more information about this product that is only revealed once clicked on.</p>

				        </div>
				      </div>

					</div>
					<div class="collection-item avatar">

					  <img src="http://placehold.it/80x80/" alt="" class="circle">
					  <strong class="title">Usuário</strong>
					  <p class="date">Enviado há 20 minutos</p>
					  <a href="#!" class="secondary-content actions-icons">
					  	<i class="mdi-action-grade"></i>
					  	<i class="mdi-navigation-check"></i>
					  	<i class="mdi-navigation-close"></i>
					  </a>

					</div>
					<div class="collection-item avatar">

					  <img src="http://placehold.it/80x80/" alt="" class="circle">
					  <strong class="title">Usuário</strong>
					  <p class="date">Enviado há 20 minutos</p>
					  <a href="#!" class="secondary-content actions-icons">
					  	<i class="mdi-action-grade"></i>
					  	<i class="mdi-navigation-check"></i>
					  	<i class="mdi-navigation-close"></i>
					  </a>

					</div>
					<div class="collection-item avatar">

					  <img src="http://placehold.it/80x80/" alt="" class="circle">
					  <strong class="title">Usuário</strong>
					  <p class="date">Enviado há 20 minutos</p>
					  <a href="#!" class="secondary-content actions-icons">
					  	<i class="mdi-action-grade"></i>
					  	<i class="mdi-navigation-check"></i>
					  	<i class="mdi-navigation-close"></i>
					  </a>

					</div>
					<div class="collection-item avatar">

					  <img src="http://placehold.it/80x80/" alt="" class="circle">
					  <strong class="title">Usuário</strong>
					  <p class="date">Enviado há 20 minutos</p>
					  <a href="#!" class="secondary-content actions-icons">
					  	<i class="mdi-action-grade"></i>
					  	<i class="mdi-navigation-check"></i>
					  	<i class="mdi-navigation-close"></i>
					  </a>

					</div>

				</div>

				<a class="waves-effect waves-light btn btn-more pull-right color-pattern">Carregar mais</a>

			</div>

		</div>-->

	</div>


</div>

</template>
