<template name="programShow">

<div class="container">

	<header class="top-container">
		<h4>
			Programa (x)
		</h4>

		<a href="{{pathFor 'programs' }}" class="waves-effect waves-light btn btn-model">
			<i class="mdi-hardware-keyboard-backspace left"></i>
			Voltar
		</a>

	</header>

	<div class="content-container row">

		<div class="programs">
		
		<div class="card">

            <div class="card-image">

            <div class="secondary-content actions-icons">
			  	<a href="{{pathFor 'programEditImage'}}">
			  		<i class="mdi-image-edit"></i>
			  	</a>
			</div>

              <img src="http://placehold.it/300x120">
              
            </div>
            <div class="card-content">
             
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>

         </div>

		</div>	

	</div>


</div>

</template>
