<template name="programShow">

<div class="container">

	<header class="top-container">
		<h4>
			Programa
		</h4>

		<a href="{{pathFor 'programs' }}" class="waves-effect waves-light btn btn-model">
			<i class="mdi-hardware-keyboard-backspace left"></i>
			Voltar
		</a>

	</header>

	<div class="content-container row">

		<div class="programas">
		
		<div class="card">

            <div class="card-image">

              <img src="http://placehold.it/300x120">
              
            </div>
            <div class="card-content">
             
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>

         </div>

		</div>	

	</div>


</div>

</template>
