<template name="pollUpdate">

<div class="container">

	<header class="top-container">
		<h4>
			<i class="mdi-content-add"></i> Atualizar Enquete
		</h4>

		<a href="{{pathFor 'poll' }}" class="waves-effect waves-light btn btn-model">
			<i class="mdi-hardware-keyboard-backspace left"></i>
			Voltar
		</a>

	</header>

	<div class="content-container row">

		<div class="poll">
		
			<div class="row">

			  <form id="pollForm" class="col s12">

				<input id="poll_id" type="text" readonly="readonly">

			    <div class="col s12">
			    	 <label>Programa *</label>
					  <select id="poll_program">
					    <option value="" disabled selected>Escolha o programa</option>
					  </select>
			    </div>

				<div class="input-field col s12">
					<i class="mdi-action-account-circle prefix"></i>
					<input id="poll_name" type="text" class="validate" maxlength="200">
					<label for="poll_name" class="active">Pergunta *</label>
				</div>

			      <div class="col s12">
			      	<small>Imagem ( 300x150 )</small>
				      <div class="file-field input-field">
					      <input class="file-path validate" type="text"/>
					      <div class="btn color-pattern btn-submit-white">
					        <span>Adicionar Imagem</span>
					        <input type="file" id="program_upload" name="imageFile" />
					      </div>
					      <div class="img-upload">
					      	<img src="{{imgBase64}}" id="poll_imgBase64" width="100" height="75">
					      </div>
					    </div>
			      </div>

			      <div class="col s12">
				      <div class="answer section">
				
				      	<div class="input-field col s12">
						    <input id="answerNewDescription" type="text" class="validate" maxlength="200">
				        	<label for="answerNewDescription" class="active">Resposta *</label>
			        	</div>

			        	<a href="#" id="addAnswer" class="add-answer">
				      		<i class="mdi-content-add"></i>
				      		<span>Adicionar Resposta</span>
				      	</a>

				      	{{#each answers}}
				      	<div class="item-inner collapsible-header">
				      		<span style="float:left; width:89%; margin-bottom:-16px;">
						    	<input id="answerDescription{{_id}}" type="text" value="{{description}}" maxlength="200" />
						    </span>
						    <a href="#" class="modal-trigger" id="btnAnswerUpdate" style="float:left;">
						    	<input type="text" value="{{_id}}" id="answerUpdate" readonly="readonly" style="display:none;" />
						  		<i class="mdi-image-edit"></i>
						  	</a>

							<a href="#" class="modal-trigger" id="btnAnswerDelete">
						  		<input type="text" value="{{_id}}" id="answerDelete" readonly="readonly" style="display:none;" />
						  		<i class="mdi-navigation-close"></i>
						  	</a>
			        	</div>
			        	{{/each }}

				  	  </div>
			      </div>

		      	<div class="input-field col s12">
					<input id="poll_active" type="checkbox" class="validate">
					<label for="poll_active">Ativar</label>
				</div>

			      <div class="btn-new col s12">
			      	<button type="submit" class="waves-effect waves-light btn btn-submit pull-right" style="width:100%;">
						Atualizar
					</button>
			      </div>

			  </form>

			</div>

		</div>	

	</div>


</div>

</template>
