<template name="navigation">

<div class="menu">
	<ul class="right hide-on-med-and-down">
	  <li class="{{ isActiveRoute 'index' }}">
	  	<a href="{{pathFor 'index' }}">
	  		<i class="mdi-editor-insert-comment"></i>
	  		<span>Timeline</span>
	  	</a>
	  </li>
	  <li class="{{ isActiveRoute 'notify|notifyNew|notifyUpdate' }}">
	  	<a href="{{pathFor 'notify' }}">
	  		<i class="mdi-notify-sim-card-alert"></i>
	  		<span>Notificações</span>
	  	</a>
	  </li>
	  <li class="{{ isActiveRoute 'programs|programNew|programUpdate' }}">
	  	<a href="{{pathFor 'programs' }}">
	  		<i class="mdi-hardware-desktop-windows"></i>
	  		<span>Programas</span>
	  	</a>
	  </li>
	  <li class="{{ isActiveRoute 'poll|pollNew|pollUpdate' }}">
	  	<a href="{{pathFor 'poll' }}">
	  		<i class="mdi-action-question-answer"></i>
	  		<span>Enquetes</span>
	  	</a>
	  </li>
	</ul>
	<ul class="side-nav" id="mobile-demo">
	  <li class="{{ isActiveRoute 'index' }}">
	  	<a href="{{pathFor 'index' }}">
	  		<i class="mdi-editor-insert-comment"></i>
	  		<span>Timeline</span>
	  	</a>
	  </li>
	  <li class="{{ isActiveRoute 'notify|notifyNew|notifyUpdate' }}">
	  	<a href="{{pathFor 'notify' }}">
	  		<i class="mdi-notification-sim-card-alert"></i>
	  		<span>Notificações</span>
	  	</a>
	  </li>
	  <li class="{{ isActiveRoute 'programs|programNew|programUpdate' }}">
	  	<a href="{{pathFor 'programs' }}">
	  		<i class="mdi-hardware-desktop-windows"></i>
	  		<span>Programas</span>
	  	</a>
	  </li>
	  <li class="{{ isActiveRoute 'poll|pollNew|pollUpdate' }}">
	  	<a href="{{pathFor 'poll' }}">
	  		<i class="mdi-action-question-answer"></i>
	  		<span>Enquetes</span>
	  	</a>
	  </li>
	</ul>
</div>

</template>