//
//	Stylesheet Admin - TV & VC
//	======================================= //
//	Autor: Allan Alexandre


//	Base
//	====================== /

body {
	background:#f5f5f5;
}

.no-padding {
	padding:0!important;
}

#app-tvevc {

	//	Reset
	//	====================== /


	//	Layout
	//	====================== /


		// Header Bar
		.nav-wrapper {
			background:#607d8b;

			// Logo
			.brand-logo {
				@media (min-width: 0) and (max-width: 990px) {  
					img {margin:0!important;}
				}
				img {
					  margin: 18px;width: 100px;
				}
			}

			// Menu
			#mobile-demo {
				li {
					  a {
						  height: 42px!important;
	  					  line-height: 60px!important;
	  				  }
				}
			}
			.menu {
				li {
					a {
						height:64px;line-height:64px;
						i {float:left;font-size:18px;margin-right:8px;}
						span {float:left;}
					}
				}
			}

		}

		// Container
		.top-container {
			position:relative;margin-top:30px;width:100%;padding-bottom:10px;margin-bottom:20px;border-bottom:1px solid #e5e5e5;
			.btn-model {
				position:absolute;right:0;top:0;background:none!important;color:rgba(0, 0, 0, 0.87);box-shadow:none!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;padding:0!important;
			}
			.btn-add {
				position:absolute;right:0;top:0;background-color:#43a047;
			}
		}



	//	Components
	//	====================== /


	// Timeline
	.timeline {
		.collection {

			// Elements
			.collection-item {
				height:auto;cursor:pointer;padding-top:25px;padding-bottom:25px;

				// Transition
				-webkit-transition: background .3s linear;
				-moz-transition: background .3s linear;
				-o-transition: background .3s linear;
				transition: background .3s linear;

				&:hover {
					background:#f9f9f9;
				}
				

				.item-inner {
					background:none;padding-bottom:0;margin-bottom:0;border-bottom:none;display: block;cursor: pointer;height:auto!important;line-height: 1.5rem!important; padding: 10px 20px;
					img {
					  width: 60px!important;height: 60px!important;top: 28px!important;
					}
				}
				.date {font-size:14px;color:#999;}
				.actions-icons {
					i {
						color:#999;
						font-size:18px;
					}
					.mdi-action-grade {
						&:hover {color:#ffc107;}
					}
					.mdi-navigation-check {
						&:hover {color:#43a047;}
					}
					.mdi-navigation-close {
						&:hover {color:#e53935;}
					}
				}
			}
			.active {
				background:#f9f9f9!important;color:rgba(0, 0, 0, 0.87)!important;
				.item-inner {
					background:none!important;margin-bottom: 30px;padding-bottom: 30px;border-bottom: 1px solid #e5e5e5;
				}
			}
		}
		.btn-more {
			margin-left: -90px;left: 50%;background-color:#607d8b;
		}
	}


	// Programas
	.programs {
		.program {
			&:hover {
				.actions-icons {
					opacity:1;
				}
			}
			.card-content {
				padding-top:5px;padding-bottom:10px;
			}
			.card-title {
				color:rgba(0, 0, 0, 0.87);
				font-size: 20px;
  				font-weight: 400;
			}
		}
		
		.card-image {
			&:hover {
				.actions-icons {
					opacity:1;
				}
			}
		}
		.actions-icons {
			position:absolute;right:0;top:0;opacity:0;margin:0;padding:0;width:100%;text-align:right;z-index:9;

			a {
				margin:0;
				&:hover {
					opacity:0.8;
				}
			}

			// Overlay
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 );

			i {
				color:#fff;font-size:28px;text-shadow:0 0 2px rgba(0,0,0,.4);
				&:last-child {
					margin-right:10px;
				}
			}
			
		}
	}

	// Enquetes
	.poll { 
		.collection-item {
			height:auto;cursor:pointer;padding-top:25px;padding-bottom:25px;padding-left:25px;

			// Transition
			-webkit-transition: background .3s linear;
			-moz-transition: background .3s linear;
			-o-transition: background .3s linear;
			transition: background .3s linear;

			&:hover {
				background:#f9f9f9;
			}
			
			.item-inner {
				background:none;padding-bottom:0;margin-bottom:0;border-bottom:none;display: block;cursor: pointer;height:auto!important;line-height: 1.5rem!important; padding: 10px 20px;
				img {
				  width: 60px!important;height: 60px!important;top: 28px!important;
				}
			}
			.date {font-size:14px;color:#999;}
			.actions-icons {
				i {
					color:#999;
					font-size:18px;
				}
				.mdi-image-edit {
					&:hover {color:#ffc107;}
				}
				.mdi-navigation-close {
					&:hover {color:#e53935;}
				}
			}
		}
	}


	// Modal Remover Programa
	.modalRemove {
		max-width:325px;
		.modal-footer {
			.green {margin-right:8px;}
			.red {margin-right:10px;}
		}
	}

	.btn-new {
		width:100%;margin-top:20px;display:table;
		a {float:right;}
	}


	//	Helpers
	//	====================== /

	.actions-icons {
		-webkit-transition: background .8s linear, opacity .4s;
		-moz-transition: background .8s linear, opacity .4s;
		-o-transition: background .8s linear, opacity .4s;
		transition: background .8s linear, opacity .4s;
	}

	.txt-left {
		text-align:left;
	}

	.file-field  {
		.color-pattern {
			width:100%;
		}
	}
	.img-upload {
		text-align:center;
	}

	.update-in {

	}

	#poll_id, #notify_id, #program_id {display:none;}
	.color-pattern {
		background-color:#607d8b;
	}

}

