<template name="userUpdate">

<div class="container">

	<header class="top-container">
		<h4>
			<i class="mdi-content-add"></i> Atualizar Usuário
		</h4>

		<a href="{{pathFor 'user' }}" class="waves-effect waves-light btn btn-model">
			<i class="mdi-hardware-keyboard-backspace left"></i>
			Voltar
		</a>

	</header>

	<div class="content-container row">

		<div class="poll user">

			<div class="row">

			  <form id="userForm" class="col s12">

				<input id="user_id" type="text" readonly="readonly">

				<div class="input-field col s12">
					<input id="user_name" type="text" class="validate valid" maxlength="200">
					<label for="user_name" class="active">Nome *</label>
				</div>

				<div class="input-field col s12">
					<input id="user_email" type="text" class="validate valid" maxlength="200">
					<label for="user_email" class="active">Email *</label>
				</div>

				<div class="input-field col s12">
					<input id="user_password" type="password" class="validate valid" maxlength="200">
					<label for="user_password" class="active">Senha *</label>
				</div>

				<div class="col s12">
			    	 <label>Nível de Acesso *</label>
					  <select id="user_nivel">
					    <option value="" disabled selected>Escolha o nível</option>
					  </select>
			    </div>
			    <div id="program" class="col s12" style="{{program}}">
			    	 <label>Programa *</label>
					  <select id="user_program">
					    <option value="" disabled selected>Escolha o programa</option>
					  </select>
			    </div>
		       <div class="col s6">
			       	<small>Imagem ( 42x42 ) *</small>
		      		<div class="file-field input-field">
						<input class="file-path validate hide" type="text"/>
						<div class="btn color-pattern btn-submit-white">
					        <span>Avatar</span>
					        <input type="file" id="avatar_upload" name="imageFile" />
					  	</div>
				  		<div class="img-upload">
				      		<img src="{{imgBase64_avatar}}" id="avatar_imgBase64" width="45" height="45">
				        </div>
				  	</div>
			      </div>

				<!-- <div class="input-field col s12">
					<input id="user_block_all_notify" type="checkbox" class="validate">
					<label for="user_block_all_notify">Quero receber notificações?</label>
				</div> -->

			      <div class="btn-new col s12">
			      	<button type="submit" class="waves-effect waves-light btn btn-submit pull-right" style="width:100%;">
						Atualizar
					</button>
			      </div>

			  </form>

			</div>

		</div>

	</div>


</div>

</template>
