<template name="user">

<div class="container">
{{#if admin}}
	<header class="top-container">
		<h4>
			Usuários
		</h4>

		<a href="{{pathFor 'userNew' }}" class="waves-effect waves-light btn btn-add">
			<i class="mdi-content-add left"></i>
			NOVO
		</a>

	</header>

	<div class="content-container row">

		<div class="poll userNew">
		
			<div class="col s12">

				<div class="collection">
					{{#each users}}
					<div class="collection-item avatar">
					
					  <div class="item-inner collapsible-header">
					  		<img src="{{picture}}" width="42" height="42" />
							<strong class="title">{{name}}</strong>
							<p class="date">Email: {{email}} <br /> Nível: {{level}}</p>
							<div class="secondary-content actions-icons">
						  	
						  	<a href="{{pathFor 'userUpdate' _id=this._id}}">
						  		<i class="mdi-image-edit"></i>
						  	</a>

							<a href="#" class="modal-trigger" id="btnDelete">
						  		<input type="text" value="{{_id}}" id="userDelete" readonly="readonly" style="display:none;" />
						  		<i class="mdi-navigation-close"></i>
						  	</a>
						  </div>

					  </div>
					
					</div>
					{{/each }}

				</div>
					<a id="mais" class="waves-effect waves-light btn btn-more color-pattern" style="{{mais}}">
						Carregar mais
					</a>
			</div>

		</div>
	
	</div>
{{else}}
Usuário sem permissão
{{/if}}
</div>

</template>
