<template name="header">

 <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">TV & VC</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="programas.html">Programas</a></li>
        <li><a href="enquetes.html">Enquetes</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="programas.html">Programas</a></li>
        <li><a href="enquetes.html">Enquetes</a></li>
      </ul>
    </div>
  </nav>

</template>

