<template name="notify">

<div class="container">

	<header class="top-container">
		<h4>
			Notificações
		</h4>

		<a href="{{pathFor 'notifyNew' }}" class="waves-effect waves-light btn btn-add">
			<i class="mdi-content-add left"></i>
			NOVO
		</a>

	</header>

	<div class="content-container row">

		<div class="poll notifyNew">
		
			<div class="col s12">

				<div class="collection">
					{{#each notifyes}}
					<div class="collection-item avatar">
					
					  <div class="item-inner collapsible-header">

						  <strong class="title">{{description}}</strong>
						  <p class="date">{{program}} - {{status}} <br /> Registrada há {{timeCompared}}</p>
						  <div class="secondary-content actions-icons">
						  	
						  	<a href="{{pathFor 'notifyUpdate' _id=this._id}}">
						  		<i class="mdi-image-edit"></i>
						  	</a>

							<a href="#" class="modal-trigger" id="btnDelete">
						  		<input type="text" value="{{_id}}" id="notifyDelete" readonly="readonly" style="display:none;" />
						  		<i class="mdi-navigation-close"></i>
						  	</a>
						  </div>

					  </div>
					
					</div>
					{{/each }}

				</div>
					<a id="mais" class="waves-effect waves-light btn btn-more color-pattern" style="{{mais}}">
						Carregar mais
					</a>
			</div>

		</div>
	
	</div>

</div>

</template>
