<template name="login">

<section class="loginForm">


       <div class="form-login">

        <div class="logo-login">
          
        <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="145.096px" height="145.096px" viewBox="0 0 145.096 145.096" enable-background="new 0 0 145.096 145.096"
   xml:space="preserve">
<g>
  <radialGradient id="SVGID_1_" cx="72.5" cy="72.5" r="65.3679" gradientUnits="userSpaceOnUse">
    <stop  offset="0" style="stop-color:#473DFE"/>
    <stop  offset="0.9842" style="stop-color:#536DFE"/>
  </radialGradient>
  <path fill="url(#SVGID_1_)" d="M140,120c0,11.046-8.954,20-20,20H25c-11.046,0-20-8.954-20-20V25C5,13.954,13.954,5,25,5h95
    c11.046,0,20,8.954,20,20V120z"/>
  <path fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" d="M140,120c0,11.046-8.954,20-20,20H25
    c-11.046,0-20-8.954-20-20V25C5,13.954,13.954,5,25,5h95c11.046,0,20,8.954,20,20V120z"/>
</g>
<g>
  <g>
    <path fill="#FFFFFF" d="M56.484,53.028c0.74-1.972,2.527-3.266,4.622-3.266c2.835,0,5.115,2.157,5.115,4.869
      c0,0.801-0.123,1.602-0.431,2.342L52.108,91.3c-1.232,2.958-2.465,4.006-4.745,4.006c-2.712,0-3.944-0.986-5.115-4.006
      L28.566,56.972c-0.308-0.74-0.431-1.541-0.431-2.342c0-2.712,2.28-4.869,5.115-4.869c2.095,0,3.882,1.294,4.622,3.266
      l9.306,25.206L56.484,53.028z"/>
  </g>
  <g>
    <path fill="#FFFFFF" d="M61.3,58.821c-2.403,0-4.376-1.972-4.376-4.561c0-2.527,1.972-4.499,4.437-4.499h23.173
      c2.465,0,4.499,2.034,4.499,4.622c0,2.527-2.034,4.499-4.499,4.499h-6.594v30.877c0,2.712-2.219,4.992-4.869,4.992
      c-2.835,0-5.115-2.28-5.115-4.992V58.821H61.3z"/>
  </g>
  <g>
    <path fill="#FFFFFF" d="M108.079,53.028c0.74-1.972,2.527-3.266,4.622-3.266c2.835,0,5.115,2.157,5.115,4.869
      c0,0.801-0.123,1.602-0.431,2.342L103.703,91.3c-1.232,2.958-2.465,4.006-4.745,4.006c-2.712,0-3.944-0.986-5.115-4.006
      L80.16,56.972c-0.308-0.74-0.431-1.541-0.431-2.342c0-2.712,2.28-4.869,5.115-4.869c2.095,0,3.883,1.294,4.623,3.266l9.306,25.206
      L108.079,53.028z"/>
  </g>
</g>
</svg>


        </div>

        <div class="login">

          <form role="form" id="login-form" novalidate="" action="/" method="POST">

            <div class="item item-input item-text-wrap item-stacked-label">
              
              <input type="email" id="login-email" name="login-email" placeholder="E-mail"> 

            </div>    
              
            <div class="item item-input item-text-wrap item-stacked-label">
              
              <input type="password" id="login-password" name="login-password" placeholder="Senha">
              
            </div>    
          

            <button type="submit" class="btn-submit button button-positive button-block submit active" id="login-btn">
              Entrar
            </button>

          </form>

          <div class="password-link padding text-center">
            <p>
              Perdeu a senha?
              <a href="#" id="btn-password-recovery" class="btn-register positive">Recuperar</a>
              
            </p>
          </div>

          <div class="social-media">

            <a class="google button">
             <!--  {{> ionIcon icon="social-googleplus"}} -->
            </a>

            <a class="facebook button">
              <!-- {{> ionIcon icon="social-facebook"}} -->
            </a>
            
          </div>

          <div class="newuser-link padding text-center">
            <p>
              Não tem conta?
              <a href="#" id="btn-register" class="btn-register positive">Cadastre-se</a>
              
            </p>
          </div>

        </div>


        {{> password }}

            
      </div>


</section>

</template>
