<template name="password">

<section class="new-password">

<form id="newpassword-form">

  <div class="item item-input item-text-wrap item-stacked-label">
    
    <input type="email" id="newpassword-email" name="newpassword-email" placeholder="E-mail *"> 

  </div>    

  <button type="submit" class="btn-submit button button-positive button-block submit active" id="newpassword-btn">
    Enviar
  </button>

  <a href="#" class="voltar">voltar</a>

</form>

<form id="new-code-form-reset">

  <div class="item item-input item-text-wrap item-stacked-label">
    
    <input type="text" id="newpassword-code" name="newpassword-code" placeholder="Verifique seu email e digite o código de validação *"> 

  </div>    

  <button type="submit" class="btn-submit button button-positive button-block submit active" id="newpassword-code-btn">
    Validar
  </button>

  <a href="#" class="voltar">voltar</a>

</form>

<form id="new-password-form-reset">

  <div class="item item-input item-text-wrap item-stacked-label">
    
    <input type="password" id="newpassword1" name="newpassword1" placeholder="Preecha com sua nova senha *"> 

    <input type="password" id="newpassword2" name="newpassword2" placeholder="Confirme a sua nova senha *"> 

  </div>    

  <button type="submit" class="btn-submit button button-positive button-block submit active" id="newpassword-reset-btn">
    Resetar
  </button>

  <a href="#" class="voltar">voltar</a>

</form>

</section>

</template>
